//widget
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

// create a widget element selector - use it on the p tag
// off-white color
// no margin
// l-size padding
// center - text-align: center
// set the bottom border to a 1px solid border lighted version of $light-blue 10 %

.widget-selector {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

// widget header

.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}
